<html>
h1{
font-family:sheila;
colour:black;
}
h2{
font-family:quicksand;
colour:black;
}
p{
font-family:Madre Script;
}
img{
https://78.media.tumblr.com/5af625afb0b4b533d0d7a840bbacc028/tumblr_ouxr30iqVa1wrvbfxo1_1280.jpg
}
body{
background colour:#00ff99;
}
</html>
